<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <connectionStrings>
      <add name="PetaPoco"
           connectionString="data source=.;initial catalog=Leopold;persist security info=True;user id=sa;password=liweipeng;"
           providerName="System.Data.SqlClient" />

      <add name="DataContext"
           connectionString="data source=.;initial catalog=Leopold;persist security info=True;user id=sa;password=liweipeng;MultipleActiveResultSets=True;App=EntityFramework"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>